article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html, button, input, select, textarea {
  font-family: sans-serif; }

body {
  margin: 0; }

a {
  background: transparent; }
  a:focus {
    outline: thin dotted; }
  a:hover, a:active {
    outline: 0; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

h2 {
  font-size: 1.5em;
  margin: 0.83em 0; }

h3 {
  font-size: 1.17em;
  margin: 1em 0; }

h4 {
  font-size: 1em;
  margin: 1.33em 0; }

h5 {
  font-size: 0.83em;
  margin: 1.67em 0; }

h6 {
  font-size: 0.75em;
  margin: 2.33em 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

q:before, q:after {
  content: '';
  content: none; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0;
  white-space: normal; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline; }

button, input {
  line-height: normal; }

button, select {
  text-transform: none; }

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type="checkbox"], input[type="radio"] {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  padding: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.grid {
  width: 100%;
  min-width: 0;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
  overflow: hidden; }

[class*='col-'] {
  width: auto;
  float: none;
  margin: 1em 0;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%; }
  [class*='col-']:last-of-type {
    padding-right: 1em; }

.grid-pad {
  padding: 1em 0 1em 1em; }

.grid-pad > [class*='col-']:last-of-type {
  padding-right: 1em; }

.push-right {
  float: right; }

.m-50 {
  width: 50%;
  float: left;
  padding: 0; }

.m-33 {
  width: 33.3%;
  float: left;
  padding: 0; }

@media screen and (min-width: 768px) {
  /* Content Columns */
  /* Layout Columns */
  [class*='col-'] {
    float: left;
    padding: 0 0.5em; }
  .col-1-1 {
    width: 100%; }
  .col-2-3, .col-8-12 {
    width: 66.66%; }
  .col-1-2, .col-6-12 {
    width: 50%; }
  .col-1-3, .col-4-12 {
    width: 33.33%; }
  .col-1-4, .col-3-12 {
    width: 25%; }
  .col-1-5 {
    width: 20%; }
  .col-2-5 {
    width: 40%; }
  .col-4-5 {
    width: 80%; }
  .col-1-6, .col-2-12 {
    width: 16.667%; }
  .col-1-7 {
    width: 14.28%; }
  .col-1-8 {
    width: 12.5%; }
  .col-1-9 {
    width: 11.1%; }
  .col-1-10 {
    width: 10%; }
  .col-1-11 {
    width: 9.09%; }
  .col-1-12 {
    width: 8.33%; }
  .col-11-12 {
    width: 91.66%; }
  .col-10-12 {
    width: 83.333%; }
  .col-3-4, .col-9-12 {
    width: 75%; }
  .col-5-12 {
    width: 41.66%; }
  .col-7-12 {
    width: 58.33%; }
  [class*='col-']:last-of-type {
    padding: 0 0.5em; }
  .grid {
    width: 100%;
    max-width: 1400px;
    min-width: 755px;
    margin: 0 auto; }
    .grid:after {
      content: "";
      display: table;
      clear: both; } }

/*

Copyright 2014 Google Inc. All Rights Reserved.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.

*/
/* CONTAINERS */
.sidebar {
  overflow-y: auto;
  padding: 12px;
  position: absolute;
  width: 100%; }

.block {
  display: block; }

.block + .block {
  margin-top: 16px; }

.inline {
  display: inline-block; }

.inline + .inline {
  margin-left: 12px; }

.top, .top-left {
  top: 0;
  position: absolute; }

.top-right {
  top: 0;
  position: absolute;
  right: 0; }

.bottom, .bottom-left, .button-bar {
  bottom: 0;
  position: absolute; }

.bottom-right, .button-bar-right {
  bottom: 0;
  position: absolute;
  right: 0; }

/* TEXT */
h1, h2, h3, h4, h5, h6 {
  color: #000;
  font: 16px/24px arial, sans-serif normal; }

a {
  color: #15c;
  cursor: pointer;
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

.current {
  color: #dd4b39;
  font-weight: bold; }

.error {
  color: #dd4b39; }

.gray, .grey {
  color: #777; }

.secondary, .small {
  color: #777;
  font: 11px/16px arial, sans-serif; }

/* TABLES */
table {
  border-spacing: 0; }

th {
  border-bottom: 1px solid #acacac;
  font-weight: normal;
  padding: 2px 0 11px 0;
  text-align: left; }

td {
  border-bottom: 1px solid #ebebeb;
  padding: 11px 0; }

tr:last-child > td, tr:last-child > th {
  border-bottom: 0; }

table.layout th, table.layout td {
  border: 0;
  padding: 0;
  vertical-align: top; }

/* BUTTONS */
.button, button, input[type="button"], input[type="image"], input[type="reset"], input[type="submit"], input[type="file"] {
  background: -webkit-linear-gradient(top, #f5f5f5, #f1f1f1);
  background: linear-gradient(top, #f5f5f5, #f1f1f1);
  border: 1px solid #dcdcdc;
  border-radius: 2px;
  box-shadow: none;
  color: #333;
  cursor: default;
  font-family: arial, sans-serif;
  font-size: 11px;
  font-weight: bold;
  height: 29px;
  line-height: 27px;
  margin: 0;
  min-width: 72px;
  outline: 0;
  padding: 0 8px;
  text-align: center;
  white-space: nowrap;
  vertical-align: top; }

input[type="file"] {
  height: 27px; }

input[type="file"]::-webkit-file-upload-button {
  opacity: 0;
  margin: 0.5em 0 0 0; }

.button {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  display: inline-block; }

.button.action, .button.blue, button.action, button.blue, input[type="button"].action, input[type="button"].blue, input[type="submit"].action, input[type="submit"].blue, input[type="file"].action, input[type="file"].blue {
  background: -webkit-linear-gradient(top, #4d90fe, #4787ed);
  background: linear-gradient(top, #4d90fe, #4787ed);
  border: 1px solid #3079ed;
  color: #fff; }

.button.create, .button.red, button.create, button.red, input[type="button"].create, input[type="button"].red, input[type="submit"].create, input[type="submit"].red, input[type="file"].create, input[type="file"].red {
  background: -webkit-linear-gradient(top, #dd4b39, #d14836);
  background: linear-gradient(top, #dd4b39, #d14836);
  border: 1px solid transparent;
  color: #fff;
  text-shadow: 0 1px rgba(0, 0, 0, 0.1); }

.button.green, .button.share, button.green, button.share, input[type="button"].green, input[type="button"].share, input[type="submit"].green, input[type="submit"].share, input[type="file"].green, input[type="file"].share {
  background: -webkit-linear-gradient(top, #3d9400, #398a00);
  background: linear-gradient(top, #3d9400, #398a00);
  border: 1px solid #29691d;
  color: #fff;
  text-shadow: 0 1px rgba(0, 0, 0, 0.1); }

.button:hover, button:hover, input[type="button"]:hover, input[type="image"]:hover, input[type="reset"]:hover, input[type="submit"]:hover, input[type="file"]:hover {
  background: -webkit-linear-gradient(top, #f8f8f8, #f1f1f1);
  background: linear-gradient(top, #f8f8f8, #f1f1f1);
  border: 1px solid #c6c6c6;
  color: #111;
  text-decoration: none; }

.button.action:hover, .button.blue:hover, button.action:hover, button.blue:hover, input[type="button"].action:hover, input[type="button"].blue:hover, input[type="submit"].action:hover, input[type="submit"].blue:hover, input[type="file"].action:hover, input[type="file"].blue:hover {
  background: -webkit-linear-gradient(top, #4d90fe, #357ae8);
  background: linear-gradient(top, #4d90fe, #357ae8);
  border: 1px solid #2f5bb7;
  color: #fff; }

.button.create:hover, .button.red:hover, button.create:hover, button.red:hover, input[type="button"].create:hover, input[type="button"].red:hover, input[type="submit"].create:hover, input[type="submit"].red:hover, input[type="file"].create:hover, input[type="file"].red:hover {
  background: -webkit-linear-gradient(top, #dd4b39, #c53727);
  background: linear-gradient(top, #dd4b39, #c53727);
  border: 1px solid #b0281a;
  border-bottom: 1px solid #af301f;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  color: #fff; }

.button.green:hover, .button.share:hover, button.green:hover, button.share:hover, input[type="button"].green:hover, input[type="button"].share:hover, input[type="button"].green:hover, input[type="submit"].share:hover, input[type="file"].green:hover, input[type="file"].share:hover {
  background: -webkit-linear-gradient(top, #3d9400, #368200);
  background: linear-gradient(top, #3d9400, #368200);
  border: 1px solid #2d6200;
  color: #fff;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3); }

.button:focus, button:focus, input[type="button"]:focus, input[type="image"]:focus, input[type="reset"]:focus, input[type="submit"]:focus, input[type="file"]:focus {
  box-shadow: inset 0 0 0 1px #fff; }

.button:active, button:active, input[type="button"]:active, input[type="submit"]:active, input[type="file"]:active {
  background: -webkit-linear-gradient(top, #f8f8f8, #f1f1f1);
  background: linear-gradient(top, #f8f8f8, #f1f1f1);
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  color: #111; }

.button.action:active, .button.blue:active, button.action:active, button.blue:active, input[type="button"].action:active, input[type="button"].blue:active, input[type="submit"].action:active, input[type="submit"].blue:active, input[type="file"].action:active, input[type="file"].blue:active {
  background: #357ae8;
  border: 1px solid #2f5bb7;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
  color: #fff; }

.button.create:active, .button.red:active, button.create:active, button.red:active, input[type="button"].create:active, input[type="button"].red:active, input[type="submit"].create:active, input[type="submit"].red:active, input[type="file"].create:active, input[type="file"].red:active {
  background: -webkit-linear-gradient(top, #dd4b39, #b0281a);
  background: linear-gradient(top, #dd4b39, #b0281a);
  border: 1px solid #992a1b;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
  color: #fff; }

.button.green:active, .button.share:active, button.green:active, button.share:active, input[type="button"].green:active, input[type="button"].share:active, input[type="submit"].green:active, input[type="submit"].share:active, input[type="file"].green:active, input[type="file"].share:active {
  background: #368200;
  border: 1px solid #2d6200;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
  color: #fff; }

.button.disabled, button:disabled, input[type="button"]:disabled, input[type="image"]:disabled, input[type="reset"]:disabled, input[type="submit"]:disabled, input[type="file"]:disabled {
  background: #fff;
  border: 1px solid #dcdcdc;
  box-shadow: none;
  color: #333;
  opacity: 0.5; }

.button.action.disabled, .button.blue.disabled, button.action:disabled, button.blue:disabled, input[type="button"].action:disabled, input[type="button"].blue:disabled, input[type="submit"].action:disabled, input[type="submit"].blue:disabled, input[type="file"].action:disabled, input[type="file"].blue:disabled {
  background: -webkit-linear-gradient(top, #4d90fe, #4787ed);
  background: linear-gradient(top, #4d90fe, #4787ed);
  border: 1px solid #3079ed;
  color: #fff; }

.button.create.disabled, .button.red.disabled, button.create:disabled, button.red:disabled, input[type="button"].create:disabled, input[type="button"].red:disabled, input[type="submit"].create:disabled, input[type="submit"].red:disabled, input[type="submit"].create:disabled, input[type="submit"].red:disabled input[type="file"].green:disabled, input[type="file"].share:disabled {
  background: -webkit-linear-gradient(top, #dd4b39, #d14836);
  background: linear-gradient(top, #dd4b39, #d14836);
  border: 1px solid transparent;
  color: #fff; }

.button.green.disabled, .button.share.disabled, button.green:disabled, button.share:disabled, input[type="button"].green:disabled, input[type="button"].share:disabled, input[type="submit"].green:disabled, input[type="submit"].share:disabled, input[type="submit"].create:disabled, input[type="submit"].red:disabled input[type="file"].green:disabled, input[type="file"].share:disabled {
  background: -webkit-linear-gradient(top, #3d9400, #398a00);
  background: linear-gradient(top, #3d9400, #398a00);
  border: 1px solid #29691d;
  color: #fff;
  text-shadow: 0 1px rgba(0, 0, 0, 0.1); }

.button + .button, button + button, input + input {
  margin-left: 12px; }

/* CHECKBOXES */
input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: #fff;
  border: 1px solid #c6c6c6;
  border-radius: 1px;
  height: 13px;
  left: 1px;
  margin: 2px 8px 0 0;
  outline: 0;
  position: relative;
  top: 1px;
  width: 13px; }

input[type="checkbox"]:hover {
  border: 1px solid #b2b2b2;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1); }

input[type="checkbox"]:active {
  background-color: #ebebeb;
  border: 1px solid #c6c6c6; }

input[type="checkbox"]:focus {
  border: 1px solid #4d90fe; }

input[type="checkbox"]:checked:after {
  background: url(https://ssl.gstatic.com/ui/v1/menu/checkmark_2x.png) no-repeat 0 0/21px;
  content: '';
  display: block;
  height: 21px;
  left: -5px;
  position: relative;
  top: -6px;
  width: 21px; }

input[type="checkbox"]:disabled {
  background-color: #fff;
  border: 1px solid #e1e1e1;
  box-shadow: none;
  opacity: 0.5; }

/* RADIO BUTTONS */
input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: #fff;
  border: 1px solid #c6c6c6;
  border-radius: 50%;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  height: 15px;
  margin: 0 6px 0 0;
  outline: 0;
  position: relative;
  top: 2px;
  width: 15px; }

input[type="radio"]:hover {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1); }

input[type="radio"]:active {
  background: #ebebeb;
  border: 1px solid #c6c6c6; }

input[type="radio"]:focus {
  border: 1px solid #4d90fe; }

input[type="radio"]:checked {
  background: #fff; }

input[type="radio"]:checked:after {
  background: #606060;
  border-radius: 50%;
  content: '';
  display: block;
  height: 7px;
  left: 3px;
  position: relative;
  top: 3px;
  width: 7px; }

input[type="radio"]:disabled {
  background-color: #fff;
  border: 1px solid #e1e1e1;
  box-shadow: none;
  opacity: 0.5; }

input:disabled + label {
  color: #afafaf; }

/* SELECTS */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url(https://ssl.gstatic.com/ui/v1/disclosure/grey-disclosure-arrow-up-down.png), -webkit-linear-gradient(top, #f5f5f5, #f1f1f1);
  background: url(https://ssl.gstatic.com/ui/v1/disclosure/grey-disclosure-arrow-up-down.png), linear-gradient(top, #f5f5f5, #f1f1f1);
  background-position: 95% 50%;
  background-repeat: no-repeat;
  border: 1px solid #dcdcdc;
  border-radius: 2px;
  color: #333;
  cursor: default;
  font-family: arial, sans-serif;
  font-size: 11px;
  font-weight: bold;
  height: 29px;
  margin: 0;
  min-width: 72px;
  outline: 0;
  padding: 7px 19px 7px 4px;
  text-align: center;
  text-indent: 0.01px;
  text-overflow: ellipsis;
  text-overflow: '';
  white-space: nowrap; }

select:-ms-expand {
  display: none; }

select:hover {
  background-image: url(https://ssl.gstatic.com/ui/v1/disclosure/grey-disclosure-arrow-up-down.png), -webkit-linear-gradient(top, #f5f5f5, #f1f1f1);
  background-image: url(https://ssl.gstatic.com/ui/v1/disclosure/grey-disclosure-arrow-up-down.png), -webkit-linear-gradient(top, #f8f8f8, #f1f1f1);
  background-image: url(https://ssl.gstatic.com/ui/v1/disclosure/grey-disclosure-arrow-up-down.png), linear-gradient(top, #f8f8f8, #f1f1f1);
  border: 1px solid #c6c6c6;
  color: #111; }

select:focus {
  border: 1px solid #4d90fe; }

select:disabled {
  background-image: url(https://ssl.gstatic.com/ui/v1/disclosure/grey-disclosure-arrow-up-down.png);
  border: 1px solid #dcdcdc;
  color: #333;
  opacity: 0.5; }

/* OTHER FORM ELEMENTS */
.form-group label + input, .form-group label + select, .form-group label + textarea {
  display: block; }

fieldset {
  border: 1px solid #ebebeb;
  margin: 0; }

legend {
  font-weight: bold;
  padding: 8px; }

input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], select[multiple], select[size], textarea {
  background: #fff;
  border: 1px solid #d9d9d9;
  border-radius: 1px;
  border-top: 1px solid #c0c0c0;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #000;
  font-family: arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
  outline: 0;
  padding: 4px; }

input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"] {
  height: 29px; }

input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="email"]:focus, input[type="month"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="week"]:focus, select[multiple]:focus, select[size]:focus, textarea:focus {
  border: 1px solid #4d90fe;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3); }

select[multiple], select[size] {
  height: auto;
  padding: 0; }

select[multiple]:disabled select[size]:disabled {
  background: #fff;
  opacity: 1; }

textarea {
  resize: vertical; }

html {
  min-height: 100%; }

body {
  font: normal normal 400 14px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serf;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

.clearfix {
  *zoom: 1; }
  .clearfix:before, .clearfix:after {
    content: "";
    display: table; }
  .clearfix:after {
    clear: both; }

*, *:after, *:before {
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

::-moz-focus-inner {
  border: 0; }

h1, h2, h3, h4, h5, h6, strong {
  font-weight: 700; }

.placeholder {
  color: rgba(0, 0, 0, 0.5); }

:-moz-placeholder {
  color: rgba(0, 0, 0, 0.5); }

::-moz-placeholder {
  color: rgba(0, 0, 0, 0.5); }

::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.5); }

.center {
  text-align: center; }
  .center img {
    max-width: 100%;
    height: auto; }

table {
  table-layout: fixed;
  width: 100%; }
  table th {
    text-align: left; }
    table th[align="left"] {
      text-align: left; }
    table th[align="center"], table th[align="middle"] {
      text-align: center; }
    table th[align="right"] {
      text-align: right; }

.container {
  width: 100%;
  max-width: 1140px;
  margin: 5% auto 0; }
