<!DOCTYPE html>
<html class="no-js" ng-app="tipDivider">
<head>
  <meta charset="utf-8" />
  <title>Tip Divider</title>
  <meta itemprop="name" property="og:title" content="Tip Divider">
  <meta itemprop="description" property="og:description" name="description" content="Tip Divider allows you to easily tip out a team of people, see the remaining hours, and count the remaining change.">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
  <link rel="stylesheet" href="css/style.css" media="screen" />
  <!--[if IE]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>
<body ng-controller="TipController">
  <div class="container">
    <div class="center">
      <h1 class="current">Tip Divider</h1>
    </div>
    <div class="grid">
      <div class="col-1-2"><label for="totalTips"><strong>Total Amount To Split:</strong> $&nbsp;<input type="number" name="totalTips" value="0" ng-change="updateTotals()" ng-model="totalTips"></label></div>
      <div class="col-1-2"><label for="totalHours"><strong>Total Hours To Split:</strong>&nbsp;<input type="number" name="totalHours" value="1" ng-change="updateTotals()" ng-model="totalHours"></label></div>
      <div class="col-1-2"><strong>Remaining Money: </strong>$ {{remainingMoney}}</div>
      <div class="col-1-2"><strong>Remaining Hours: </strong> {{remainingHours}}</div>
      <div class="col-span">
        <fieldset>
          <legend>Enter in your each employees info</legend>
          <table>
            <thead>
              <tr>
                <th>Name</th>
                <th>Hours</th>
                <th align="middle">Amount</th>
                <th></th>
              </tr>
            </thead>
            <tbody ng-repeat="item in items" on-finish-render="repeatFinished()">
              <tr id="field-{{$index}}">
                <td><input ng-model="item.name" type="text" ng-change="updateTotals()" name="name" value="" placeholder="Employee Name"></td>
                <td><input ng-model="item.hours" type="number" ng-change="updateTotals()" name="hours" value="0" placeholder="Employee Hours"></td>
                <td align="middle"><strong>$<span class="employee-total">{{item.split}}</span></strong></td>
                <td align="right"><div class="controls"><button ng-show="$index == items.length - 1" type="button" class="button red" my-add data-id="field-{{$index}}">Add Another</button><button ng-hide="$index == 0" type="button" class="button" my-remove data-id="field-{{$index}}">Remove</button></div></td>
              </tr>
            </tbody>
          </table>
        </fieldset>
      </div>
      <div class="col-1-2">
        <button type="button" class="button blue" ng-click="clearStorage()">Clear Storage</button>
      </div>
    </div>
  </div>
  <script src="js/script.js"></script>
</body>
</html>
